<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="rootAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/vol/oplogtailer/logs/oplogtailer.log</File>
    <encoder>
      <pattern>%magenta(%date{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%cyan(%-30.30logger)] %message%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>10</maxIndex>
      <FileNamePattern>/vol/oplogtailer/logs/oplogtailer.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>500MB</MaxFileSize>
    </triggeringPolicy>
  </appender>


  <logger name="com.traackr" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="rootAppender" />
  </logger>

  <!-- By default, the level of the root level is set to DEBUG -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
